/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------------------------------------------------- FIN RESET CSS ----------------------------------------------------------------------*/

body { 
	padding:0;
	margin:0; 
}

#map {
	width:100%;
	height: 100vh;
}

#menu {

	position: absolute;
    top: 0;
    left: 0;
    padding: 1em 0.7em 0.5em 1em;
	background-color: /*#6A5ACD;#98c756 verde*/black;
	/*filter:saturate(0.5);*/
	opacity: 0.8;
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0em 0em 1em 0em;

}

#menu a img {

	padding: 0em 1em 0em 0.5em;
	opacity: 0.7;
	width: 2em;
	filter:saturate(1.5);
}

#menu a img:hover {

	opacity: 1;
}

.titulo {

	/*font-family: 'Archivo Black', sans-serif; archivo black*/
	font-family: 'Capriola', sans-serif;/* capriola*/
	font-size:1.2em;
	font-weight: 300;
	color:white;
	padding:1.3em 0em 1em 0em;
	display: inline;
	padding-left: 0.7em;
	/*letter-spacing: 0.02em;*/
}

.divContainer {

	/*width: 100%;*/
	padding: 0em 0em 0.8em 0em;
}

.divInfo {

	width:22em;
}

.divInfo h2 {

	margin-bottom: 1.5%;
    border-bottom-width: thick;
    font-size: 1.3em;
    font-weight: 600;
    border-bottom: 3px solid black;
}

.divInfo h3 {
	font-style: italic;
}

.divInfoElements {

	font-size: 1em;
	padding-bottom: 0.3em;
	padding-bottom:2%;
}

.infoRedes {

	font-weight: 700;
	font-size:1.1em;
}

.infoType {

	text-transform: capitalize;
}