html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------------------------------------------------- FIN RESET CSS ----------------------------------------------------------------------*/

/*---------------------------------------- INDEX MAPS ----------------------------------------*/

/*-------------- GENERALES --------------*/
body { 
	padding:0;
	margin:0; 
}

#map {
	width:100%;
	height: 100vh;
}

/*-------------- HEADER --------------*/

#menu {

	position: absolute;
    top: 0;
    background-color: /*#6A5ACD;#98c756 verde*/black;
    /* filter: saturate(0.5); 
    opacity: 0.8;*/
    width: 100%;
	/*height: 4em;*/
	padding: 1.3em 0em 1em 0em;
	display: flex;
	align-items: center;
}

/* GENERALES DIVS CONTENEDORES*/

.divContainer {

    display: inline-flex;
}

/* TITULO */

.divContainer:first-child {

	width: 33%;
}

/* FILTROS */

.divContainer:nth-child(2n) {

	justify-content: center;
	width: 33%;
}


.divContainer:nth-child(2n) a {

	align-items: center;
	display: flex;
}

/* DIV SETTINGS*/

.divContainer:nth-child(3n) {

	justify-content: flex-end;
	width: 33%;
	
}

.divContainer:nth-child(3n) img {

	filter: invert(10);
	opacity: 0.8;
	padding-right: 2em;
}

.titulo {

	/*font-family: 'Archivo Black', sans-serif; archivo black*/
	font-family: 'Capriola', sans-serif;/* capriola*/
	font-size: 1.2em;
	font-weight: 300;
	color:white;
	display: inline;
	padding-left: 0.7em;
	/*letter-spacing: 0.02em;*/
}

.todo {

	color: white;
    font-family: 'Capriola', sans-serif;
	text-decoration: none;
	padding-right: 1.05em;
}

 

#menu a img {

	padding: 0em 1em 0em 0.5em;
	opacity: 0.7;
	width: 2em;
	filter:saturate(1.5);
}

#menu a img:hover {

	opacity: 1;
}

.infoHover {

	position: relative;
}


.infoHover .hoverText {

	visibility: hidden;
  	width: 120px;
  	background-color: rgb(0, 0, 0, 0.6);
  	color: #fff;
  	text-align: center;
  	border-radius: 6px;
	padding: 5px 0;
	font-family: 'Capriola', sans-serif;
	font-size: 0.8em;

  	/* Position the tooltip */
  	position: absolute;
	z-index: 1;
	top: 90%;
	left: -2.5em;
}

.infoHover:hover .hoverText {
	visibility: visible;
}

/*-------------- DIV INFO --------------*/

.divInfo {

	width:22em;
}

.divInfo .spanTitulo {

    border-bottom-width: thick;
    font-size: 1.3em;
	font-weight: 600;

	/*Border bottom style*/
	border-bottom-style: 3px;
	border-bottom-style: solid;
	border-bottom-style: inset;
  	border-bottom-color: #98c756;
}

.divInfoElements {

	font-size: 1em;
	padding-bottom: 0.3em;
	padding-bottom:2%;
}

.infoRedes {

	font-weight: 700;
	font-size:1.1em;
}

.infoType {

	text-transform: capitalize;
	font-style: italic;
	display: block;
	padding:1em 0em 1em 0em;
}


/*---------------------------------------- INDEX ADMIN ----------------------------------------*/

/*-------------- HEADER --------------*/

.headerAdmin {

	background-color: black;
	font-family: 'Capriola', sans-serif;
}

.headerAdmin span {

	font-family: 'Capriola', sans-serif;
}

.divsAdmin {

	font-size: 1.2em;
    font-weight: 300;
    color: white;
    padding: 1.3em 0em 1em 0em;
	padding-left: 0.7em;
	font-family: 'Capriola', sans-serif;
	display: inline-block;
}

.cont {

	width: 32%;
}

.cont:nth-child(2n) {

	text-align: center;
	font-weight: 900;
	font-size: 1.3em;
}

.cont:nth-child(3n) {

	text-align: right;
}

/*-------------- LISTADO --------------*/

#inner {

	width: 95%;
	margin:0 auto;
}


.item {

	width: 35%;
    margin: 0 auto;
    display: flex;
    padding: 2em 1em 2em 1em;
    font-family: 'Roboto', sans-serif;
	border-radius: 1em;	
}

.item:hover{

	background-color: rgb(226, 226, 226);
	box-shadow: 0.2em 0.25em rgba(218, 218, 218, 0.85);
}

.dashboardElements {

	font-weight: 500;
	font-size:1.1em;
}

.listado_content {

	width:50%;	
}

/*-------------- BTNS --------------*/

#btn-agregar-wrapper {

	padding: 4em 0 3em 0;
    width: 22%;
    margin: 0 auto;
    text-align: right;
}

.btns_wrapper {

	width: 50%;
}

.btn {

	border-radius: 0.5em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.1em;
	padding: 0.5em 1em 0.5em 1em;
	font-weight: 400;
}

.btn:hover {

	opacity: 0.85;
}

.verde {
	
	background-color: teal;
}

.rojo {

	background-color: tomato;
	margin-left: 2em;
}

.azul {
	background-color: rgb(82, 95, 255);
}

/*-------------- FORM --------------*/

#form_wrapper {

	margin: 0 auto;
	width: 35%;
	font-family: 'Roboto', sans-serif;
	padding-top: 2em;
}

.inputDiv {

	display:block;
	padding-top: 0.5em;
}

.sectionForm {

	padding-bottom:2em;
}

.titleSectionForm {

	font-weight: 900;
	font-size: 1.1em;
}

.labels {

	font-size: 1em;
    padding-bottom: 0.5em;
    display: block;
    font-weight: 500;
}


#form_main {
	display: none;
	background-color: rgb(226, 226, 226);
	box-shadow: 0.5em 0.5em rgba(209, 209, 209, 0.85);
	padding: 1em;
	border-radius: 1em;
}

#form_main.active {
	display: block;
}

#btnForm {

	border: none;
    font-size: 1.1em;
    display: block;
    padding: 1em 5em 1em 5em;
    margin: 0 auto;
    border-radius: 1em;
    background-color: rgb(125, 156, 219);
    font-weight: 400;
    color: white;
}

#btnForm:hover {

	opacity:0.8;
}

/* INPUTS */

.inputForm {

	color: rgba(0, 0, 41, 0.6);
	font-weight: 500;
	font-size: 0.9em;
	border: none;
	border-bottom: 2px solid rgba(71, 91, 107, 0.8);
	background-color: rgb(226, 226, 226);
}

.inputForm:focus {

	outline: none;
	color: rgb(62, 70, 82);
	border-bottom: 2px solid rgb(71, 152, 218);
	font-weight: 600;
}
