html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------------------------------------------------------------- FIN RESET CSS ----------------------------------------------------------------------*/

/*-------------------- INDEX MAPS --------------------*/

/* GENERALES */
body { 
	padding:0;
	margin:0; 
}

#map {
	width:100%;
	height: 100vh;
}

/* HEADER */

#menu {

	position: absolute;
    top: 0;
    left: 0;
    /* padding: 1em 0.7em 0.5em 1em; */
    background-color: /*#6A5ACD;#98c756 verde*/black;
    /* filter: saturate(0.5); */
    opacity: 0.8;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.divContainer {

	width: 47.5%;
	height: 100%;
	display: flex;
}

.divContainer:nth-child(2n) {

	text-align: center;
	
}

.divContainer:nth-child(2n) a {

	height: 100%;
	align-items: center;
    display: flex;
}

.titulo {

	/*font-family: 'Archivo Black', sans-serif; archivo black*/
	font-family: 'Capriola', sans-serif;/* capriola*/
	font-size:1.2em;
	font-weight: 300;
	color:white;
	padding:1.3em 0em 1em 0em;
	display: inline;
	padding-left: 0.7em;
	/*letter-spacing: 0.02em;*/
}

.todo {

	color: white;
    font-family: 'Capriola', sans-serif;
	text-decoration: none;
	padding-right: 1.05em;
}

 

#menu a img {

	padding: 0em 1em 0em 0.5em;
	opacity: 0.7;
	width: 2em;
	filter:saturate(1.5);
}

#menu a img:hover {

	opacity: 1;
}

.infoHover {

	position: relative;
}


.infoHover .hoverText {

	visibility: hidden;
  	width: 120px;
  	background-color: rgb(0, 0, 0, 0.6);
  	color: #fff;
  	text-align: center;
  	border-radius: 6px;
	padding: 5px 0;
	font-family: 'Capriola', sans-serif;
	font-size: 0.8em;

  	/* Position the tooltip */
  	position: absolute;
	z-index: 1;
	top: 90%;
	left: -2.5em;
}

.infoHover:hover .hoverText {
	visibility: visible;
}
/* SETTINGS */

.settings  {

	width: 5%;
	height: 100%;
	display: flex;
	align-items: center;
}

.settings img {

	height: 2em;
	filter: invert(10);
	opacity: 0.8;
	
}

/* DIV INFO */

.divInfo {

	width:22em;
}

.divInfo .spanTitulo {

    border-bottom-width: thick;
    font-size: 1.3em;
	font-weight: 600;

	/*Border bottom style*/
	border-bottom-style: 3px;
	border-bottom-style: solid;
	border-bottom-style: inset;
  	border-bottom-color: #98c756;
}

.divInfoElements {

	font-size: 1em;
	padding-bottom: 0.3em;
	padding-bottom:2%;
}

.infoRedes {

	font-weight: 700;
	font-size:1.1em;
}

.infoType {

	text-transform: capitalize;
	font-style: italic;
	display: block;
	padding:1em 0em 1em 0em;
}


/*-------------------- INDEX ADMIN --------------------*/

/*#wrapper {
	padding:60px 0 40px;
}

.adminTitulos {

	font-size: 3em;
}

.btn {
	padding:10px 20px;
	border-radius: 90px;
	color:#fff;
	text-decoration: none;
}

a {
	font-weight: 700;
}

a:hover {

	opacity: .8;
}*/


.item {

	width: 50%;
	margin: 0 auto;
	display: flex;
	padding-bottom:3em;
}

.listado_content {

	width:50%;
	font-family: 'Capriola', sans-serif;
}

.btns_wrapper {

	width: 50%;
}

.btn {

	border-radius: 0.5em;
    text-decoration: none;
    font-family: 'Capriola', sans-serif;
    color: white;
    font-size: 1.2em;
    padding: 0.7em;
}

.verde {
	
	background-color: teal;
}

.rojo {

	background-color: tomato;
}
